.hero {
    padding: 40px 10px 60px;
    font-size: 36px;
    margin-bottom: 40px;
}

.hero-text {
    padding-bottom: 10px;
    margin-top: 120px;
    
}

.logo {
    cursor: pointer;
    position: fixed;
    width: fit-content;
}

.hero p{
    font-size: 14px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024px) {
    /* Styles */
 .hero-text{
     margin-top: 160px;
 }   

 .hero {
     font-size: 42px;
 }

 .hero  p {
    font-size: 20px;
    max-width: 80%;
 }
}