.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}



.work-title {
    color: white;
}

.work .images img {
    margin: 16px 0;
    width: 100%;
}

.button {
    padding: 8px 16px;
    color: white;
    border: 1px solid white;
    background: black;
    align-self: center;
    text-decoration: none;
}